<!DOCTYPE html>

<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>About</title>

</head>

<body>
<strong>ABOUT</strong>
<a href="/about">about</a>
<a href="/index">Index</a>
<a href="/contact">Contact</a>
<a href="/apply">Apply</a>

<input type="submit" action="/apply/process" value="Process">
</body>

</html>