<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Pipelines</title>
</head>

<body>
Valeur originale : {{.}}
Valeur double: {{ . | fdbl}}
Valeur double au carré: {{. | fdbl | fsq}}
Valeur racine carrée de la précédente: {{. | fdbl | fsq | fsqrt}}

</body>

</html>