<!DOCTYPE html>

<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>My Slice</title>
</head>

<body>
    <h1>Indexed Slice</h1>
    <ul>
        {{ range $index, $element := .}}
        <li> {{ $index }} - {{ $element }}</li>
        {{ end }}
    </ul>
</body>

</html>
