<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Exercise 01</title>
</head>

<body>
    <h1>{{.}}</h1>
    <img src="/herisson.jpeg" alt="picture of a hedgehog">

</body>

</html>