<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Methods</title>
</head>

<body>
<header>
{{ if .Method}}<p>The request Method: {{.Method}}</p>{{end}}
{{if .Host}}<p>The request URL: {{.Host}}</p>{{end}}
{{if .URL}}<p>The request Host:{{.URL}}</p>
    <ul>
        <li>Scheme: {{.URL.Scheme}}</li>
        <li>Opaque: {{.URL.Opaque}}</li>
        <li>Host: {{.URL.Host}}</li>
        <li>Path: {{.URL.Path}}</li>
        <li>RawPath: {{.URL.RawPath}}</li>
        <li>ForceQuery: {{.URL.ForceQuery}}</li>
        <li>RawQuery: {{.URL.RawQuery}}</li>
        <li>Fragment: {{.URL.Fragment}}</li>
    </ul>
{{end}}

{{if .Header}}
    {{ range $key, $value := .Header}}
        <p>{{$key}}:</p>
        <ul>
            {{range $value}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    {{ end}}
{{end}}

{{ if .Submissions}}<p><strong>Variable Names</strong> (identifiers) and <em>Values</em></p>
    {{ range $key, $value := .Submissions}}
        <p><strong>{{ $key }}</strong>:</p>
        <ul>{{ range $value}}<li><em>{{.}}</em></li>{{end}}</ul>
    {{end}}
{{end}}


<form action="/?fname=zazou" method="POST">
    <input type="text" name="fname" placeholder="first name" autofocus autcomplete="off">
    <input type="submit" name="submit-btn" value="valider">
</form>
</body>

</html>
