<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Exercise 3</title>
</head>

<body>
    {{ range .}}
        {{.Name}}
        {{ range .Menus}}
            {{.Name}}
              {{range .Items}}
                {{.Dish}}, {{.Description}}, Price : {{.Price}}
                {{ end }}
        {{ end}}
    {{ end}}
</body>

</html>