<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>INDEX</title>
    </head>

    <body>
        <h1>You are on the Index page</h1>

        <h2>This is the cookie value:</h2>
        {{ range  .}}
        <h3>{{.}}</h3>
        {{ end }}

    </body>
</html>
