<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Exercise 03</title>
</head>

<body>
<h1>Exercise 03</h1>
<p>My first name is:<strong>{{.}}</strong></p>
</body>

</html>