<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>My Struct Slice</title>
</head>

<body>
    <h1> Struct + Slice</h1>
    <ul>
        {{range .}}
        <li>{{.Name}} --> {{.Motto}}</li>
        {{end}}
</body>

</html>