<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Serve Pictures</title>
</head>

<body>
    <h1>Serving Hedgehog Picture</h1>
    <img src="/resources/pics/herisson.jpeg" alt="hedgehog working on a laptop">
</body>

</html>