<!DOCTYPE html>

<html>

<head>
    <meta  charset="UTF-8">
    <title>Nested Templates</title>
</head>

<body>
    <h1>This is my nested template: {{.}}</h1>

    <p>{{template "a_nested_template" .}}</p>
</body>

</html>