<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Predefined Functions: Comparrison</title>

</head>
<body>

{{ if gt .Score1 .Score2 }}
    SCORE 1 > SCORE2
{{ end }}

{{ if lt .Score1 .Score2 }}
    SCORE1 is smaller than SCORE2
{{ end }}

</body>

</html>