<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Exercise CSV</title>
    </head>
    <body>
        <ul>
        {{ range .}}
            <li>{{.FirstName}} - {{.LastName}}</li>
        {{ end}}
        </ul>
    </body>

</html>