<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Set Header</title>
</head>
<body>
    <form method="POST" action="/bar">
        <label for="firstName">First Name: </label>
        <input type="text" id="firstName" name="fname">
        <br>
        <input type="submit" value="Validate">
    </form>
</body>
</html>
