<!DOCTYPE html>

<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Date Formatting</title>
    </head>

    <body>
        without Formatting {{.}}
        <br>
        With Formatting {{fdateMDY .}}

    </body>
</html>