<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>

<body>
    <h1>My List</h1>

    <ul>
        {{ range .}}
        <li>{{.}}</li>
        {{ end }}
    </ul>

</body>

</html>