<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>Index + Struct Predefined Funcs</title>

</head>
<body>
{{ index .Numbers 3}}
{{ index .Numbers 0}}
{{ index .Numbers 1}}

{{ .FName }}

</body>

</html>